# How to create a string in Python

In [6]:
string_1="Let's learn Python"

In [ ]:
string_2_corr="Let's learn Python"

In [ ]:
string_2_corr="Let's learn Python"

In [ ]:
string_2_alt='Let\'s learn Python'

In [10]:
string_3="""The Battle of Heraklion was fought during World War II on the island of Crete between 20 and 29 May 1941. British, Australian and Greek forces defended the port and the airfield of Heraklion against a German paratrooper attack. The German assault was launched without direct air support, and drops occurred over several hours rather than simultaneously. German units dropping near Heraklion (pictured) suffered very high casualties; those dropping further away were severely hampered by Cretan partisans. The German attack failed. When it was renewed the next day it failed again. The fighting then settled into a stalemate. A convoy of German seaborne reinforcements was intercepted by a British naval squadron and scattered. The Germans refocused on the battle for Maleme airfield, which they won, causing the Allies to evacuate. Commonwealth troops were taken off Crete by Allied warships on the night of 28/29 May; at sea, two Allied destroyers were sunk and two cruisers badly damaged, causing many casualties. that Anne Hatchard (pictured) was voted best on ground at the 2022 AFL Women's Grand Final?
that merchant trader Constantine Zochonis expanded his company Paterson Zochonis into the Gold Coast in the 1930s?
that in 1973, Caroline Rose Foster donated her farm Fosterfields to the Parks Commission of Morris County, New Jersey to be preserved as a functioning farm from 1920... that the British film Strippers vs Werewolves opens with a different band playing the song "Hungry Like the Wolf" by Duran Duran?that Indian gynaecologist and reproductive medicine pioneer Baidyanath Chakrabarty, who performed over 4,000 IVF procedures, was a cricket fan who thought Virat Kohli and Ashwin were "such good boys"?
that Yuki Fumino\'s relationships with hearing-impaired friends and acquaintances inspired her to create I Hear the Sunspot?
that at the age of 26, Lucy Moss became the youngest female director of a Broadway musical before directing a TikTok musical that raised $2 million?
that Aroha Bridge changed its name from Hook Ups because fans searching for the string."""

In [7]:
string_3

NameError: name 'string_3' is not defined

string concatenation

In [11]:
string_1="I'm a Data Scientist"
string_2="You will become ML Engineers"

In [12]:
string_concat=string_1+string_2
string_concat

"I'm a Data ScientistYou will become ML Engineers"

In [13]:
string="Hi AI Researchers"
string_1=58
strin_concat=string+string_1

TypeError: can only concatenate str (not "int") to str

# String Replication

In [15]:
'Good Evening ' *5

'Good Evening Good Evening Good Evening Good Evening Good Evening '

In [16]:
"Have a nice day " *10

'Have a nice day Have a nice day Have a nice day Have a nice day Have a nice day Have a nice day Have a nice day Have a nice day Have a nice day Have a nice day '

In [20]:
print("Happy birthday to you\n"*3+"Happy birthday to you Dear learner\n"+"Happy birthday"*5)

Happy birthday to you
Happy birthday to you
Happy birthday to you
Happy birthday to you Dear learner
Happy birthdayHappy birthdayHappy birthdayHappy birthdayHappy birthday

### input()function

In [21]:
name=input("Hi!What's your name?")
print("Nice to meet you" +name+"!")

Hi!What's your name?manju
Nice to meet youmanju!

In [22]:
str=input("How old are you?")
print("so you are already "+str+" years old Eesa!")

How old are you?19
so you are already 19 years old Eesa!

###  len function

In [23]:
str="Hope you are enjoying my session!"
print("The length of the string is:",len(str))

The length of the string is: 33

## filter

In [25]:
ages=[25,22,63,19,4,6,12]
def myfunc(x):
    if x<18:
        return False
    else:
        return True

In [26]:
adults=filter(myfunc,ages)
for x in adults:
        print(x)

25
22
63
19

In [27]:
num=[2,4,6,15,19,32,16]
def fun(x):
    if x%2==0:
      return True
    else:
      return False
even=filter(fun,num)
for x in even:
    print(x)

2
4
6
32
16

In [28]:
ages=[2,4,6,15,19,32,16]
def even(x):
  if x%2==0:
    return True
  else:
    return False
evens=filter(even,ages)
for x in evens:
  print(x)

2
4
6
32
16

### Function

##### Block of coded instructions that performs action.
##### def -keyword followed by a function name():

In [29]:
def name():
    print("Welcome to the Session!")
name()

Welcome to the Session!

In [30]:
def name():
    print("Hi")
name()

Hi

In [31]:
def addition(x,y,z):
    a=x+y
    b=x+z
    c=y+z
    print(a,b,c)
addition(1,2,3)

3 4 5

In [32]:
def product_info(product_name,price):
    print("Product Name: ",product_name)
    print("Price: ",price)
product_info("T-shirt:",15)
product_info(product_name="Jeans",price=45)

Product Name:  T-shirt:
Price:  15
Product Name:  Jeans
Price:  45

In [33]:
def celsius_to_kelvin(temp_cel):
    return temp_cel +273
print("freezing point of water in K:",celsius_to_kelvin(1))

freezing point of water in K: 274

In [34]:
def product_info(product_name,type):
    print("product Name",product_name)
    print("type:",type)
product_info("laddu:","sweet")

product Name laddu:
type: sweet

### List

In [35]:
my_list_1=[1,2,3,4,5]
my_list_2=["a","e","i","o","u"]
my_list_3=[1,"hi",True,"AI"]

In [36]:
my_list_3

[1, 'hi', True, 'AI']

#### List is heterogenous-because it allows multiple data types

In [37]:
my_list_1[0]

1

In [38]:
my_list_3[2]

True

#### we can retrive the elements using index.Index starts from zero

In [40]:
my_list_1[2]=10
my_list_1

[1, 2, 10, 4, 5]

### Mutable-Make changes

##### we can make changable

In [42]:
my_list_1[2]=14
my_list_1

[1, 2, 14, 4, 5]