### operators
### Arithmetic
### Relational
### Logical
### Membership
### Bitwise
### Assignment

#### Arithmetic operators (add,sub,mul,div,exp, modulus, floor division)

In [1]:
income=10000
incentive=1000
total=income+incentive
total

11000

In [5]:
x=67
y=45
z=x-y
z

22

In [7]:
x=20
y=4
z=x*y
z

80

In [9]:
x=20
y=4
z=x/y
z

5.0

### In addition, subtraction, multiplication if one of the operand is float,then result is also float
### In division irresesptive of datatypes,the result is float

In [11]:
### exponential (**)
a=7
b=3
z=a**b
z

343

In [ ]:
##### Modules (%)-remainder
##### if there is negative number

In [12]:
### Modulus (%)-Remainder
### x%y
### if x>y,it returns remainder
### if x<y,it returns x
a=1
b=3
z=a%b
z

1

In [14]:
### Floor division (//)-quotient
### x//y
### if x>y,it returns quotient
### if x<y,it returns zero
a=1
b=3
z=a//b
z

0

In [15]:
name=input ("enter ur name:")
print ("welcome",name)

enter ur name:Manju
welcome Manju

In [17]:
price=int(input ("enter price:"))
quantity=int(input ("enter quantity:"))
cost=price*quantity
cost

enter price:1000
enter quantity:50

50000

### Relational operators
### Equal to(==)
### Not equal to (!=)
### Greater than(>)
### Less than(<)
### Greater than or equal to (>=)
### Less than or equal to (<=)

In [ ]:
### Relational operators
x=67
y=34

In [19]:
x==y

False

In [21]:
x!=y

True

In [23]:
x<y

False

In [25]:
x>y

True

In [27]:
x>=y

True

In [29]:
x<=y

False

In [ ]:
### Logical operators

1.And
2.Or
3.Not

### And
is_student=True
in_college=True
in_school=False

In [32]:
is_student and in_college

True

In [33]:
is_student and in_school

False

### Or

In [34]:
is_student or in_college

True

### Not

In [35]:
not(is_student)

False

### Assignment Operators
#### a+=b=>a=a+b
#### a-=b=>a=a-b

In [37]:
x=3
x+=5
x

8

In [39]:
x=3
x-=5
x

-2

In [41]:
x=5
x*=3
x

15

In [43]:
x=10
x/=2
x

5.0

In [45]:
x=5
x**=2
x

25

In [47]:
x=11
x%=3
x

2

In [49]:
x=10
x//=1.5
x

6.0