### loops and functions

In [1]:
a=20
b=33
if b>a:
    print("b is greater than a")

b is greater than a

In [2]:
a=40
b=33
if b>a:
    print("b is greater than a")  ### Condition is False

In [3]:
a=20
b=20
if b>a:
    print("b is greater than a")  ### Condition is False

In [85]:
a=20
b=20
if b>a:
    print("b is greater than a")

In [5]:
a=20
b=20
if b==a:
    print("a is equal to b")

a is equal to b

In [6]:
a=24
b=20
if b!=a:
    print("b is not equal to a")

b is not equal to a

In [7]:
a=20
b=30
if a<b:
    print("a is lesser than b")

a is lesser than b

In [8]:
a=30
b=30
if a<=b:
    print("a is lesser than or equal to b")

a is lesser than or equal to b

In [9]:
a=30
b=30
if a>=b:
    print("a is greater than or equal to b")

a is greater than or equal to b

In [10]:
time=int(input("enter the time"))
if time>7:
    print("attend the blackbucks")

enter the time8
attend the blackbucks

In [11]:
a=int(input ()) 
if a%2==0:
    print('even')

6
even

In [12]:
age=int(input("enter your age"))
if age>=18:
     print("eligible to vote")

enter your age19
eligible to vote

In [2]:
a=input("enter your  ai and ml training institute")
if a=="blackbucks":
    print("your choice is wonderful")

enter your  ai and ml training instituteblackbucks
your choice is wonderful

In [3]:
a=56
b=42
if a>b:
    print("a is greater")
else:
    print("b is greater")

a is greater

In [4]:
a=42
b=42
if a>=b:
    print("a is greater than or equal to b ")
else:
    print("b is greater")

a is greater than or equal to b

In [5]:
a=42
b=42
if a==b:
    print("a is equal to b")
else:
    print("a is not equal to b")

a is equal to b

In [6]:
input=int(input("Enter your experience"))
if(input>=5):
	    print("Extraordinary")
else:
	    print("Not upto the expectations")

Enter your experience5
Extraordinary

In [3]:
marks = int(input(" Please Enter Your Subject Marks:  "))
if (marks>= 50):
    print(" Congratulations ") 
    print(" You cleared the subject ") 
else:
    print(" You Failed") 
    print(" Better Luck Next Time")

 Please Enter Your Subject Marks:  45
 You Failed
 Better Luck Next Time

In [4]:
marks =int(input(" Please Enter Your Subject Marks:  "))
if (marks>= 50):
    print(" Congratulations ") 
    print(" You cleared the subject ") 
else:
    print(" You Failed") 
    print(" Better Luck Next Time")

 Please Enter Your Subject Marks:  45
 You Failed
 Better Luck Next Time

In [5]:
a=float(input("enter first number :"))
b=float(input("enter second number :"))
if a==b:
    print(" a and b are equal")
elif a>b:
    print("a is greater")
else:
    print('b is greater')

enter first number :4.5
enter second number :3.0
a is greater

In [11]:
a=35
b=25
if a==b:
    print(" a and b are equal")
elif a>b:
    print("a is greater")
else:
    print('b is greater')

a is greater

In [6]:
x=int(input("enter a digit:"))
if x==0:
          print("zero")
elif x==1:
          print("one")
elif x==2:
          print("two")
elif x==3:
          print("three")
elif x==4:
          print("four")
elif x==5:
          print("five")
elif x==6:
          print("six")
elif x==7:
          print("seven")
elif x==8:
          print("eight")
elif x==9:
          print("nine")
else:
          print("you have a wrong digit",x)

enter a digit:9
nine

In [7]:
a=int(input("enter temp"))
if(a>=40):
    print("It's extreme hot in your city")
elif(a>30 and a<35):
      print("it's normal hot in your city")
else:
      print("it's normal temperature in your city")

enter temp40
it's normal temperature in your city

In [8]:
input=int(input("Rate your experience"))
if(input>=5):
		print("Extraordinary")
elif(input>=4):
	print("very good")
elif(input>=3):
	print("good")
elif(input>=2):
	print("can do better")
else:
	print("Not upto the expectations")

Rate your experience3
good

In [123]:
num=25
if num>0:
    if num%5==0:
        print("it is divisible by 5")
    else:
            print("not divisible")
else:
                print("negative number")

it is divisible by 5

In [121]:
age=63
if age>=18:
    if age>18 and age<=50:
        print("Adult")
    else:
        print("Senior Citizen")
else:
    print("children")

Senior Citizen

In [120]:
num=23
if(num%2==0):
    if(num==0):
        print("zero")
    else:
        print("even")
else:
    print("odd")

odd

In [26]:
var = 100
if var < 200:
    print ("Expression value is less than 200")
     if var == 150:
        print ("Which is 150")
    elif var == 100:
        print ("Which is 100")
    elif var == 50:
        print ("Which is 50")
    elif var < 50:
        print ("Expression value is less than 50")
else:
    print ("Could not find ")

Expression value is less than 200
Which is 100

In [119]:
num=15
if num>=15:
    if num==15:
        print('You can drive')
    else:
        print('test drive required')  
else:
    print('Better luck next time')

You can drive

In [118]:
a=5
if(a<58):
    if(a<=21):
        print("You are not eligible for working")
    else:
        print("You are eligible for working")
else:
    print("You are retired")

You are not eligible for working

In [30]:
var1 = 8
var2 = 5
if (var1 and var2) > 0 :
     print ("Expression value is positive")
        if (var1/var2>=0) :
            print ("divisable")
        elif(var1/var2 <0):
            print ("decimal quotient")
        elif (var1 and var2)==0 :
            print ("indivisble")
else:
     print ("ended my if for now")

Expression value is positive
divisable

In [117]:
Mark=75
if Mark>=30:
     if Mark==30:
        print('just pass')
     else:
        print(' pass with good marks')
else:
    print('fail')

 pass with good marks

In [ ]:
day=int(input('enter a day'))
if day>=0:
    if day==1:
              print('day is monday')
    else:
        print('holiday')
else:
    print('tuesday')

In [112]:
a=45.5
if a>=50:
    if a==50:
         print("average performance") 
    else:
        print("good performance")
else:
       print("poor performance")

poor performance

In [113]:
a=10
b=20
if a==b:
    print('a is equal to b')
elif a>b:
    print('a is greater than b')
else:
    print('b is greater')

b is greater

In [43]:
a=189
b=123
c=1000
if a>b and c>a:
    print("Both are true")

Both are true

In [44]:
a=189
b=123
c=10
if a>b or c>a:
    print("Either a or b or c is true")

Either a or b or c is true

In [99]:
a=6
b=2
c=3
if (a and b)/c:
          print('a and b divisble by c')
else:
    print('not divisible')

a and b divisble by c

In [111]:
a=31
b=29
c=23
if a<=b and a>=c:
    print('pass')
else:
    print("fail")

fail

In [109]:
a=5.9
b=2.9
c=2.3
if a>b and a>c:
     print("a is greter")
elif b>c and b>a:
    print("b is greater")    
else:
     print("c is greater")

a is greter

In [46]:
x = 50
y = 30
if(x==10)or(y<20):
    print("One or Both expressions are True")
else:
    print("Both are False!")

Both are False!

In [98]:
a=9
b=2
if (a and b ) > 0 :
    print("values are positive")
    print("divide:", a/b )
elif b<= 0 :
    print("divide by 0 error")

values are positive
divide: 4.5

In [97]:
a=2
b=3
c=8
if (a or b)/c:
    if (a and b)/c:
             print('both are divsible by c')
    else:
         print('only one is  divisible')
else:
    print('both are not divisible')

both are divsible by c

In [95]:
a=5
b=5
c=3
if a!=b and a>b:
    print('you won a bike')
elif a<b:
    print('50% off in Dominos')
else:
    print('better luck next time')

better luck next time

In [93]:
temp=20.0
if temp==20 or temp<=20:
    print("coolest weather")
elif (temp==30)>=20 or (temp==30)>20:
    print("cool weather")
else:
        print("warm weather")

coolest weather

In [100]:
name1="manju"
name2="manju"
if  name1==name2:
     print('both the strings are equal')  
else:
     print('strings are not equal')

both the strings are equal

In [101]:
day1="monday"
day2="sunday"
if day1=="saturday" or day2=="sunday":
    print("You have decodr session")
elif (day1=="sunday") or (day2=="saturday"):
    print ("You have decodr session")
else:
    print("Go with recorded session")

You have decodr session

In [57]:
a = 10
if not a:
    print("Boolean value of a is True")
else:
    print("10 is divisible by either 3 or 5")

10 is divisible by either 3 or 5

In [102]:
a=10
b=10
if a==b and a>=b:
    print("a is greater and b equal")
elif not(a==b and a>=b):
    print("false")

a is greater and b equal

In [108]:
str1="manju"
str2=reversed(str1)
if str1 == str2 :
     print("str1 is palindrome")
else :
     print("str1 not palindrome")

str1 not palindrome

### python loops

In [62]:
fruits=["Apple","Mango","Cherries","Banana"]
for x in fruits:
    print(x)

Apple
Mango
Cherries
Banana

In [63]:
for x in "manjula":
    print(x)

m
a
n
j
u
l
a

In [64]:
### break statement
fruits=["Apple","Mango","Cherries","Banana"]
for x in fruits:
    print(x)
    if x=="Cherries":
        break

Apple
Mango
Cherries

In [66]:
fruits=["Apple","Mango","Cherries","Banana"]
for x in fruits:
        if x=="Cherries":
            break
        print(x)

Apple
Mango

In [67]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [68]:
for x in range(5,10):
    print(x)

5
6
7
8
9

In [70]:
for name in"manju":
    if name=="j":
        break
    print(name)

m
a
n

In [71]:
for name in"manju":
    if name=="j":
        continue
    print(name)

m
a
n
u

In [74]:
students = ["Pani", "sri", "manju", "devi"]

for student in range(0, len(students)):
    if student == 3:
        break
    else:
        print(students[student])

    print("Counter is " + str(student))

Pani
Counter is 0
sri
Counter is 1
manju
Counter is 2

In [75]:
days=['mon','tue','wed','thur','fri','sat','sun']
for x in days:
    if x =='fri':
        break
    print(x)

mon
tue
wed
thur

## while loops

In [77]:
num=15
addition=0
i=1
while i<=num:
    addition=addition+i
    i=i+1
print("Addition is:",addition)

Addition is: 120

## for loop

In [78]:
number=range(1,16)
addition=0
i=1
for i in number:
    addition=addition+i
    i=i+1
print("Addition is:",addition)

Addition is: 120

### break

In [79]:
text="dataScience"
for letter in text:
    if letter=="e":
        break
    print(letter)
print("The for loop stopped executing")

d
a
t
a
S
c
i
The for loop stopped executing

In [80]:
text="dataScience"
for letter in text:
    if letter=="e":
        print("The loop leave a space here")
        continue
    print(letter)

d
a
t
a
S
c
i
The loop leave a space here
n
c
The loop leave a space here

In [92]:
levels=5
for level in range(1,levels+1):
    for num in range(level):
        print(level,end=" ")
        
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [91]:
n=2
for i in range(1,n+1):
    for j in range(i):
        print(i,end=" ")
    print()

1
2 2

In [90]:
rows = 9 
for i in range(rows):
    for j in range(i+1):
        print("* ", end="")
    print("\n")

*

* *

* * *

* * * *

* * * * *

* * * * * *

* * * * * * *

* * * * * * * *

* * * * * * * * *

In [88]:
n =7
for i in range(1,n+1):
    for j in range(1, i+1):
        print(i, end="")
    print()

1
22
333
4444
55555
666666
7777777

In [ ]:
def add(x, y):
    return (x+y)
  
def subtract(x, y):
    return (x-y)